<h1> Hello <%= current_user.user_name %> </h1>
<p> Role <em> <%= current_user.role %> </em> </p>

<%= link_to "Create Post", new_post_path %>
<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>

<h2> Posts </h2>
<%= render partial: 'application/post', collection: @posts %>

<h2> Comments </h2>
<%= render partial: 'comments/comment', collection: @comments %>
