<!DOCTYPE html>
<html>
  <head>
    <title>BlogProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# Create a navbar and assign common operations inside that navbar. %>

    <%= render 'application/navbar' %>
    <%# To render alerts and notices from partial. %>
    <div class='container'>
      <%= render "application/alerts" %>
      <%= yield %>
    </div>
  </body>
</html>
